<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Posts List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Date d'ajout</th>
          <th>Localisation</th>
          <th>Prix</th>
          <th>Nombres des likes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts | async">
          <td>{{post.titre}}</td>
          <td>{{post.description}}</td>
          <td>{{post.dateajout |  date  }}</td>
          <td>{{post.localisation}}</td>
          <td>{{post.prix}}</td>
          <td>{{post.nbLikes}}</td>
          <td><button (click)="deletePost(post.id)" class="btn btn-danger">Delete</button>
              <button (click)="PostDetails(post.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>